@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
/* CSS HEX
--lime-green: #4FCF06ff;
--black: #000000ff;
--black-2: #000000ff;
--lime-green-2: #55D802ff;
--eton-blue: #A6C9A9ff;

 CSS HSL 
--lime-green: hsla(98, 94%, 42%, 1);
--black: hsla(0, 0%, 0%, 1);
--black-2: hsla(0, 0%, 0%, 1);
--lime-green-2: hsla(97, 98%, 43%, 1);
--eton-blue: hsla(125, 24%, 72%, 1);
*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#bg{
    background-image: url('img/BG2.svg');
    background-color: rgba(000, 000, 000, 0.8);
    background-blend-mode: multiply;
}

body{
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nerko One', cursive;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#nav-bar {
    display: flex;
    height: 80px;
    width: 100vw;
    background-color: #383838;
    
      
}

#logo {
    background-color: #383838;
    display: flex;
    align-items: center;
    width: 188px;
    justify-content: center;
    text-decoration: none;
    
}


#logo, img{
    padding: 5px;
    height: 80px;
    width: 188px;
}

#logo a:hover{
    background-color: hsla(98, 94%, 42%, 0.2) ;
}

#nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    list-style: none;
    text-decoration: none;
}

#nav-bar li {
    padding-top: 20px;
    font-size: 2em;
    
}

.nav-bar-links li, a{
    transition: all 0.2s ease 0s;
    text-decoration: none;
    color: #4FCF06ff;
}

.nav-bar-links li, a:hover{
    text-decoration: none;
    background-color: hsla(98, 94%, 42%, 0.2);
    box-shadow: 0px 0px 20px 0px hsla(98, 94%, 42%, 0.4);
    border: none;
    border-radius: 50%;
    transition: all 0.2s ease 0s;
}

#profile {
    width: 120px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-right: 0px;
    float: right;
}

#profile img{
    width: 60px;
    height: 60px;
}



.marquee {
    background: #303030;
    display: inline-block;
    text-align: center;
    width: 100vw;
    height: 40px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 20px 0px hsla(98, 94%, 42%, 0.4);

}

.marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  .marquee:before {
    left: 0;
    background: linear-gradient(to right, #303030 0%, transparent 100%);
  }
  .marquee:after {
    right: 0;
    background: linear-gradient(to left, #303030 0%, transparent 100%);
  }


.marquee-content{
    font-family: 'Nerko One', cursive;
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 25s linear infinite;
}

@keyframes scrolling {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-297vw);
    }
}

.marquee-content li{
    padding-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33vw;
    flex-shrink: 0;
    font-size: 1.5rem;
    white-space: nowrap;
    color: #4FCF06ff;

}

.marquee-content:hover{
    animation-play-state: paused;
}


#create-note {
    font-family: 'Nerko One', cursive;
    position: absolute;
    width: 165px;
    height: 70px;
    left: 80px;
    top: 178px;
    background: #303030;
    border-radius: 80px;
    border-color: #4FCF06ff;
    font-size: 1.5rem;
    font-weight: normal;
    color: #4FCF06ff;
    cursor: pointer;
}

#create-note:hover{
    background-color: hsla(98, 94%, 42%, 0.2);
    box-shadow: 0px 0px 20px 0px hsla(98, 94%, 42%, 0.4);
}

.table_list {
    position: absolute;
    width: 70%;
    height: 60%;
    left: 80px;
    right: 80px;
    top: 287px;
    border: 3px #8b6303 solid;
    border-radius: 5px;
    box-shadow: antiquewhite;
    background-color: rgb(0, 0, 0, 0.4);
    color: #4FCF06ff;
    border-collapse: collapse;
}

.table-list, td:first-child{
    color: #4FCF06ff;
    border-color: white;
}
.table-list, td{
    
    color: white;
    border: 1px solid;
}